* {
	margin: 0;
	padding: 0;
}

body {
	font-family: "Helvetica","sanserif";
	font-size: 16px
}

.main-container {
	background-color: #d8d8e6ad;
	height: 100vh;
}

.center-content {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 200px;

}
.center-content h1 {
	margin-top: 8em;
    font-size: 60px;
    color: #6c7676;
}
.center-content span {
	font-size: 100px;
    font-weight: 500;
    margin-top: 0.1em;
    color: #6c7676;
}
.center-content button {
	border-radius: 6px;
    padding: 0.5em 2em;
    margin: 0 0.5em;
    border: 3px solid #6c7676;
    font-size: 18px;
    margin-top: 1em;
    background-color: #d8d8e6ad;
    color:  #6c7676;
}
/*.btn-group {
	padding: 2em;
}*/